<a href="https://colab.research.google.com/github/punjabinuclei/RealTimeBatteryMonitoringSystem/blob/main/9.%20SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sb # visualization
from termcolor import colored as cl # text customization

from sklearn.model_selection import train_test_split # data split

from sklearn import svm
from sklearn.metrics import explained_variance_score as evs # evaluation metric
from sklearn.metrics import r2_score as r2 # evaluation metric

sb.set_style('whitegrid') # plot style
plt.rcParams['figure.figsize'] = (20, 10)
from sklearn import preprocessing # preprocessData

In [3]:
df=pd.read_csv(r"SocFinal.csv")
df=df.dropna()
df

,Voltage,Current,Temperature,Capacity,StandardDeviation,DCResistance,MeanofVariables,StateofCharge
0,4.17604,-0.15069,23.97615,2.99746,11.492914,-0.039153,7.001010,99.915333
1,4.17014,-0.15069,23.97615,2.99239,11.492369,-0.016789,7.000802,99.746333
2,4.16761,-0.15069,23.76583,2.98986,11.388522,-0.016444,6.948222,99.662000
3,4.16509,-0.15325,23.66067,2.98732,11.336982,-0.015400,6.921297,99.577333
4,4.16273,-0.15325,23.76583,2.98478,11.388420,-0.014600,6.947633,99.492667
...,...,...,...,...,...,...,...,...
14952,2.80077,-11.13838,8.83332,0.52128,8.443293,-0.000061,0.743607,17.376000
14953,2.80010,-10.93406,8.83332,0.52099,8.347490,-0.000016,0.794593,17.366333
14954,2.79993,-10.88298,8.83332,0.52099,8.323558,0.000117,0.807320,17.366333
14955,2.80178,-15.74596,8.93848,0.53256,10.664245,-0.000108,-0.384565,17.752000
14956,2.80027,-14.01173,8.93848,0.53214,9.834418,-0.000025,0.048720,17.738000

In [4]:
features = ['Voltage','Current','Temperature', 'Capacity', 'StandardDeviation', 'DCResistance', 'MeanofVariables']
X = df.loc[:, features]
y = df.loc[:, ['StateofCharge']]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=0.25, random_state=1)

In [8]:
regr = svm.SVR(kernel="linear")
regr.fit(X_train, y_train)
regr_yhat_test = regr.predict(X_test)
regr_yhat_val = regr.predict(X_val)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Testing Data Test

In [9]:
print(cl('EXPLAINED VARIANCE SCORE:', attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of SVM model is {}'.format(evs(y_test, regr_yhat_test)), attrs = ['bold']))

EXPLAINED VARIANCE SCORE:
-------------------------------------------------------------------------------
Explained Variance Score of SVM model is 0.9999975416111341

In [10]:
print(cl('R-SQUARED:', attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of SVM model is {}'.format(r2(y_test, regr_yhat_test)), attrs = ['bold']))

R-SQUARED:
-------------------------------------------------------------------------------
R-Squared of SVM model is 0.9999972816329824

#Validation Dataset

In [11]:
print(cl('EXPLAINED VARIANCE SCORE:', attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of SVM model is {}'.format(evs(y_val, regr_yhat_val)), attrs = ['bold']))

EXPLAINED VARIANCE SCORE:
-------------------------------------------------------------------------------
Explained Variance Score of SVM model is 0.9999976635372765

In [12]:
print(cl('R-SQUARED:', attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of SVM model is {}'.format(r2(y_val, regr_yhat_val)), attrs = ['bold']))

R-SQUARED:
-------------------------------------------------------------------------------
R-Squared of SVM model is 0.9999974639475921

In [13]:
X_test.iloc[0].values.reshape(1,-1)

array([[ 3.90803000e+00, -2.89889000e+00,  9.04363000e+00,
         2.41436000e+00,  5.08306134e+00, -1.13837000e-04,
         2.65960250e+00]])

In [14]:
regr.predict(X_test.iloc[0].values.reshape(1,-1) )

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([80.50726254])

In [15]:
y_test.iloc[0]

StateofCharge    80.478667
Name: 12088, dtype: float64